body,
html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: black;
}

.header {
    width: 100%;
    height: 20%;
    background: black;
    text-align: center;
}

h1 {
    color: yellowgreen;
}

h2 {
    color: white;
}

.side_bar {
    width: 20%;
    height: 100%;
    background: gray;
    color: white;
    float: left;
}

ul li {
    padding: 15px;
}

a {
    color: black;
    text-decoration: none;
}

ul li:hover {
    background: black;
    color: white;
    border-radius: inherit;
}

.content {
    height: 100%;
    background: darkslategray;
    overflow: hidden;
}

.content input {
    border-radius: 10px;
    height: 20px;
    width: 30%;
}

.content .all_student {
    position: absolute;
    top: 50%;
    left: 33%;
    margin-top: -105px;
    margin-left: -90px;
    width: 70%;
    height: 76%;
    overflow-x: scroll;
    overflow-y: scroll;
}

.all_student table {
    padding: 0 60px;
    margin-top: 20px;
}

.content .delete {
    color: rgb(11, 192, 56);
    font-size: 30px;
    font-weight: 700px;
    padding: 0 30px;
}

.content .studentProfile {
    position: absolute;
    top: 47%;
    left: 26%;
    margin-top: -105px;
    margin-left: -90px;
    width: 70%;
    height: 76%;
}

.studentProfile .profile {
    margin: 30px;
    padding: 0 30px;
    margin-left: 30%;
}

.studentProfile .profile label {
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
}